{% extends "installfest/base.html" %}

{% block title %}{{ event.name }}{% endblock %}

{% block breadcrumb %}
<ul>
    <li class="first"><a href="/">Inicio</a>
        <ul>
            <li><a href="{% url event-list %}">Festivales de instalación</a>
                <ul>
                    <li>{{ event.name }}
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
{% endblock %}

{% block main-content %}
<h2>{{ event.name }}</h2>
<h3>{{ event.scheduled|date:"l, j F Y" }}</h3>

{{ event.description|safe }}

<h3>Sedes</h3>

<ul>
{% for site in event.sites.all %}
    <li><a href="{{ site.get_absolute_url }}">{{ site.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}

