div#breadcrumb ul {
    display: inline; 
    margin-left: 0; 
    padding-left: 0; 
}
div#breadcrumb ul li {
    display: inline; 
    list-style: none;
    margin-left: 0; 
    padding-left: 0;
}
div#breadcrumb ul li:before { content: "\0020 \00BB \0020"; }
div#breadcrumb ul li.first:before { content: ""; }

ul.errorlist { margin: 0;  }
ul.errorlist li { list-style: none; }
